@font-face {
   font-family: 'Changa-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/moham/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-10-31_130812/fonts/Changa-VariableFont_wght/font.ttf');
}
